astroid==2.15.5
black @ git+https://github.com/psf/black@eb32729ab562c010d9f644a3bbb2305196b2deb7
blinker==1.6.2
boto3==1.26.142
botocore==1.29.142
CacheControl==0.12.11
cachetools==5.3.0
Cerberus==1.3.4
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cognitojwt==1.4.1
cryptography==40.0.2
dill==0.3.6
ecdsa==0.18.0
firebase-admin==6.1.0
Flask==2.3.2
Flask-Cognito==1.18
google-api-core==2.11.0
google-api-python-client==2.87.0
google-auth==2.19.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.54.2
httplib2==0.22.0
idna==3.4
importlib-metadata==6.6.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
lazy-object-proxy==1.9.0
Markdown==3.4.3
MarkupSafe==2.1.2
mccabe==0.7.0
msgpack==1.0.5
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.5.1
proto-plus==1.22.2
protobuf==4.23.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.7.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-jose==3.3.0
python-ulid==1.1.0
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
s3transfer==0.6.1
six==1.16.0
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.2
ulid-py==1.1.0
uritemplate==4.1.1
urllib3==1.26.16
Werkzeug==2.3.4
wrapt==1.15.0
zipp==3.15.0
