{
  "site": {
    "name": "Sample Site",
    "footerRight": "&copy;Your Organization. 2023. All rights reserved."
  },
  "common": {
    "loadingTimeoutThreshold": 10000
  },
  "api": {
    "origin": "https://api.example.com",
    "basePath": "/api",
    "authHeader": {
      "user": {
        "name": "Authorization",
        "tokenPrefix": ""
      },
      "admin": {
        "name": "Authorization",
        "tokenPrefix": "Bearer"
      }
    }
  },
  "media": {
    "url": "https://media.example.com"
  },
  "pgit": {
    "repository": {
      "services": [
        {
          "label": "Backlog",
          "domain": "coopnext.backlog.jp/git"
        },
        {
          "label": "Github",
          "domain": "github.com"
        }
      ]
    }
  },
  "post": {
    "serviceId": "your-serviceId"
  }
}
