{
  "site": {
    "name": "Your SiteName",
    "footerRight": "©Your Organization. 2023. All rights reserved."
  },
  "api": {
    "origin": "https://example.com",
    "basePath": "/api"
  },
  "media": {
    "url": "https://media.example.com"
  },
  "post": {
    "serviceId": "your-serviceId"
  }
}
